@model IEnumerable<PartsPaladin.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1 class="text-white">Registered Customers</h1>


<table class="table text-white">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Customer Email
            </th>
         
            <th>
                Customer Address
            </th>
            <th>
                Customer City
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_email)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.customer_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_city)
            </td>
            <td>
                <div class="d-flex flex-row gap-3">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.customer_id">Edit</a>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.customer_id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.customer_id">Delete</a>
                 </div>
            </td>
        </tr>
}
    </tbody>
</table>
