@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
@model IEnumerable<PartsPaladin.Models.CartWithProducts>
@if (TempData["successcart"] != null)
{
    <div class="alert alert-success">
        @TempData["successcart"]
    </div>
}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('input[name="selectedItems"]');
        const totalElement = document.getElementById('totalSubtotal');
        let totalSubtotal = 0;

        function updateTotal() {
            totalSubtotal = 0;
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    const subtotal = parseFloat(checkbox.dataset.subtotal);
                    totalSubtotal += subtotal;
                }
            });
            totalElement.textContent = totalSubtotal.toFixed(2);
        }

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', updateTotal);
        });

        updateTotal(); 
    });
</script>


<table class="table text-white">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Sub Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <form asp-action="Checkout" asp-controller="User">
            @foreach(var item in Model){
            <tr>
                <td>
                    <input type="checkbox" name="selectedItems" value="@item.cartItems.cart_item_id" data-subtotal="@item.cartItems.subtotal" />
                </td>
                <td>
                    <img src="@item.Product.product_image" class="img-fluid" style="height:5rem;width:5rem" />
                </td>
                <td>
                    @item.Product.product_name
                </td>
                <td>
                    @item.cartItems.quantity
                </td>
                <td>
                    @item.cartItems.subtotal
                </td>
                <td>
                    <a asp-action="Remove" asp-controller="User" asp-route-id="@item.cartItems.cart_item_id"  class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td><strong>Total:<h6 id="totalSubtotal"></h6></strong></td>
        </tr>
        <tr>
            <td>
                <form asp-action="Checkout" asp-controller="User" asp-route-total="@ViewBag.TotalSubtotal">
                <button type="submit"   class="btn btn-primary">Checkout</button>
                </form>
                </td>
        </tr>
        </form>
        </tbody>
    </table>